<?xml version="2.0"?>
<gz version='8.3'>

<!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true" />
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="true"/>
    <arg name="verbose" value="true"/>
    <arg name="world_name" value="$(find usv_sim)/world/empty.world"/>
</include> -->