object_detection/object_detection/wandb filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/yolov9 filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/yolo_world filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/buoy_detection_node.py filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/crop_test_images.py filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/datasets filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/__init__.py filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/misc_testing_images filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/buoy_boat_detection.ipynb filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/train_buoy_classifier.py filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/yolov8x-worldv2.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/yolo_world_test.ipynb filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/best_finetuned_10x.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/best_finetuned_9c2.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/best_finetuned_9c3.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/best_finetuned_9c4.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/best_finetuned_9c.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/yolov10l.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/yolov10x.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/yolov8n.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/yolov8x-worldv2.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/last_finetuned_9c.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/yolov10b.pt filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/yolov8x-worldv2.pt:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
object_detection/object_detection/weights/yolov9c.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/misc_testing_images filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/yolo_world filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/yolo_world_test.ipynb filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/yolov8x-worldv2.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/__init__.py filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/buoy_detection_node.py filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/crop_test_images.py filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/wandb filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/yolov9 filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/buoy_boat_detection.ipynb filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/datasets filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/train_buoy_classifier.py filter=lfs diff=lfs merge=lfs -text
src/object_detection/**.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/best_finetuned_10x.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/best_finetuned_9c2.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/yolov10x.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/yolov9c.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/yolov10l.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/yolov8n.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/yolov8x-worldv2.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/best_finetuned_9c3.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/best_finetuned_9c4.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/best_finetuned_9c.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/last_finetuned_9c.pt filter=lfs diff=lfs merge=lfs -text
src/object_detection/object_detection/weights/yolov10b.pt filter=lfs diff=lfs merge=lfs -text
