[submodule "wind-sensor-node-23-24"]
	path = wind_sensor
	url = https://github.com/vt-sailbot/wind-sensor-node-23-24
[submodule "simulation-node-23-24"]
	path = simulation
	url = https://github.com/vt-sailbot/simulation-node-23-24
[submodule "telemetry-node-23-24"]
	path = telemetry
	url = https://github.com/vt-sailbot/telemetry-node-23-24
[submodule "custom-messages-23-24"]
	path = sailbot_msgs
	url = https://github.com/vt-sailbot/custom-messages-23-24
[submodule "sailcode-node-23-24"]
	path = sailcode
	url = https://github.com/vt-sailbot/sailcode-node-23-24
[submodule "gps-node-23-24"]
	path = gps
	url = https://github.com/vt-sailbot/gps-node-23-24
[submodule "nn-node-23-24"]
	path = nn
	url = https://github.com/vt-sailbot/nn-node-23-24
[submodule "rc-node-23-24"]
	path = rc
	url = https://github.com/vt-sailbot/rc-node-23-24
[submodule "mcu"]
	path = mcu
	url = https://github.com/vt-sailbot/mcu-node-23-24
[submodule "camera-node-23-24"]
	path = camera
	url = https://github.com/vt-sailbot/camera-node-23-24
