absl-py==2.1.0
accelerate==0.18.0
action-msgs==1.2.1
action-tutorials-interfaces==0.20.4
action-tutorials-py==0.20.4
actionlib-msgs==4.2.4
adafruit-blinka==8.31.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-mmc56x3==1.0.7
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==2.0.4
adafruit-circuitpython-typing==1.9.6
adafruit-platformdetect==3.60.0
adafruit-pureio==1.1.11
adafruit-python-shell==1.8.0
agilerl==0.1.34
aiofiles==23.2.1
aiohttp==3.9.5
aioresponses==0.7.6
aiosignal==1.3.1
albumentations==1.4.1
ale-py==0.8.1
altair==5.3.0
ament-cmake-test==1.3.9
ament-copyright==0.12.11
ament-cppcheck==0.12.11
ament-cpplint==0.12.11
ament-flake8==0.12.11
ament-index-python==1.4.0
ament-lint-cmake==0.12.11
ament-lint==0.12.11
ament-package==0.14.0
ament-pep257==0.12.11
ament-uncrustify==0.12.11
ament-xmllint==0.12.11
angles==1.15.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
apscheduler==3.10.1
archspec==0.2.2
args==0.1.0
arxiv-miner==2.0.3
arxiv==0.5.3
arxivscraper==0.0.5
astropy-iers-data==0.2024.6.10.0.30.47
astropy==5.3.4
astroquery==0.4.7
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
atomics==1.0.2
attrs==23.2.0
autopilot==0.0.0
autorom.accept-rom-license==0.6.1
autorom==0.6.1
awscli==1.33.12
backoff==2.2.1
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
bleak==0.21.1
blinker==1.7.0
blis==0.7.11
boltons==23.1.1
boto3==1.34.123
botocore==1.34.130
box2d-py==2.3.5
brotli==1.1.0
builtin-interfaces==1.2.1
cachetools==5.3.3
catalogue==2.0.10
catkin-pkg==1.0.0
certifi==2023.7.22
cffi==1.16.0
cfgv==3.4.0
chardet==4.0.0
charset-normalizer==3.3.2
chex==0.1.85
circup==1.5.2
clean-docker==1.1.1
click==8.1.7
clint==0.5.1
cloudpathlib==0.16.0
cloudpickle==3.0.0
colorama==0.4.4
coloredlogs==15.0.1
comm==0.2.2
compass==0.0.0
composition-interfaces==1.2.1
conda-libmamba-solver==23.12.0
conda-package-handling==2.2.0
conda-package-streaming==0.9.0
conda==23.11.0
confection==0.1.4
construct-typing==0.5.6
construct==2.10.68
contourpy==1.2.1
coverage==3.7.1
coveralls==1.1
crsf-parser==0.3.2
cryptography==42.0.7
cv-bridge==3.2.1
cycler==0.10.0
cymem==2.0.8
cython==3.0.0
dacite==1.7.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.17.1
dataclasses-json==0.6.7
dateparser==1.2.0
dbus-fast==2.21.0
debugpy==1.8.1
decorator==4.4.2
defusedxml==0.7.1
demo-nodes-py==0.20.4
deprecated==1.2.14
deprecation==2.1.0
diagnostic-msgs==4.2.4
dill==0.3.8
distlib==0.3.8
distro==1.8.0
dnspython==2.4.2
docker-pycreds==0.4.0
docker==6.1.3
docopt==0.6.2
docutils==0.16
domain-coordinator==0.10.0
elastic-transport==8.13.0
elasticsearch-dsl==8.13.1
elasticsearch==8.13.1
empy==3.3.4
en-core-web-sm==3.7.1
etils==1.6.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
exceptiongroup==1.2.1
executing==2.0.1
expiringdict==1.2.2
farama-notifications==0.0.4
fastapi==0.110.3
fastrand==1.8.0
feedparser==6.0.11
fiftyone-db==1.1
fiftyone-desktop==0.33.2
filelock==3.14.0
findimports==2.4.0
fire==0.5.0
flask==3.0.2
flatbuffers==23.5.26
flatten-dict==0.4.2
flax==0.8.0
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.6.0
ftfy==6.1.3
future==0.18.3
gast==0.5.4
geographiclib==2.0
geojson==3.1.0
geometry-msgs==4.2.4
geopy==2.4.1
gitdb==4.0.11
gitpython==3.1.43
glfw==2.7.0
glob2==0.7
gmplot==1.4.1
google-api-core==2.19.0
google-api-python-client==2.134.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-auth==2.30.0
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.1
gps==0.0.0
gputil==1.4.0
graphql-core==3.2.3
grpcio==1.64.1
gym-notices==0.0.8
gym-robotics==1.0.1
gym==0.26.2
gymnasium==0.28.1
h11==0.14.0
h2==4.1.0
h5py==3.11.0
highway-env==1.8.2
hpack==4.0.0
html5lib==1.1
httpcore==1.0.2
httplib2==0.22.0
httptools==0.6.1
httpx==0.26.0
huggingface-hub==0.23.3
humanfriendly==10.0
humanize==4.9.0
hydra-core==1.3.2
hypercorn==0.16.0
hyperframe==6.0.1
identify==2.5.36
idna==2.10
image-geometry==3.2.1
imageio-ffmpeg==0.4.9
imageio==2.34.1
img2pdf==0.5.1
importlib-metadata==7.1.0
importlib-resources==6.1.1
inference-cli==0.12.1
inference-sdk==0.12.1
inference==0.12.1
inflate64==1.0.0
iniconfig==2.0.0
interactive-markers==2.3.2
ipykernel==6.29.4
ipython==8.25.0
ipywidgets==8.1.1
itsdangerous==2.1.2
jaraco.classes==3.3.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jax-jumpy==1.0.0
jax==0.4.23
jaxlib==0.4.23
jedi==0.19.1
jeepney==0.8.0
jinja2==3.1.4
jmespath==1.0.1
joblib==1.3.2
jplephem==2.22
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema-specifications==2023.12.1
jsonschema==4.22.0
jupyter-client==8.6.2
jupyter-core==5.7.2
jupyterlab-widgets==3.0.9
kaleido==0.2.1
keras==2.15.0
keyring==25.2.1
keyrings.alt==5.0.0
kiwisolver==1.4.5
langcodes==3.4.0
language-data==1.2.0
lark==1.1.9
laser-geometry==2.4.0
launch-ros==0.19.7
launch-testing-ros==0.19.7
launch-testing==1.0.6
launch-xml==1.0.6
launch-yaml==1.0.6
launch==1.0.6
lazy-loader==0.3
libclang==16.0.6
libmambapy==1.5.5
lifecycle-msgs==1.2.1
llvmlite==0.42.0
logging-demo==0.20.4
luqum==0.13.0
lxml==5.2.2
mamba==1.5.5
map-msgs==2.1.0
marisa-trie==1.1.1
markdown-it-py==3.0.0
markdown==3.6
markupsafe==2.1.5
marshmallow==3.21.3
matplotlib-inline==0.1.7
matplotlib==3.9.0
mcu==0.0.0
mdurl==0.1.2
menuinst==2.0.1
message-filters==4.3.4
minari==0.4.3
ml-dtypes==0.3.2
mongoengine==0.24.2
more-itertools==10.2.0
motor==3.3.2
moviepy==1.0.3
mpmath==1.3.0
msgpack-python==0.5.6
msgpack==1.0.7
mujoco==2.2.2
multi-agent-ale-py==0.1.11
multidict==6.0.5
multiexit==1.5.0
multivolumefile==0.2.3
murmurhash==1.0.10
mypy-extensions==1.0.0
nav-msgs==4.2.4
navpy==1.0
nest-asyncio==1.6.0
networkx==3.3
nn==0.0.0
nodeenv==1.9.1
ntrip-client==1.3.0
numba==0.59.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.16.1
onnxruntime==1.15.1
openai==1.35.1
opencv-python-headless==4.10.0.84
opencv-python==4.10.0.82
opt-einsum==3.3.0
optax==0.1.8
orbax-checkpoint==0.5.2
osrf-pycommon==2.0.2
packaging==24.1
pandas==2.2.2
parso==0.8.4
pathtools==0.1.2
pcl-msgs==1.0.0
pdfminer.six==20231228
pendulum-msgs==0.20.4
pendulum==3.0.0
pettingzoo==1.24.3
pexpect==4.9.0
pi-heif==0.16.0
pickleshare==0.7.5
piexif==1.1.3
pillow==10.3.0
pip==23.3.2
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.5.0
plumbum==1.8.3
ply==3.11
poliastro==0.17.0
portion==2.4.2
pprintpp==0.4.0
pptree==2.0
pre-commit==3.7.1
preshed==3.0.9
prettytable==3.10.0
priority==2.0.0
proglog==0.1.10
prometheus-client==0.20.0
prometheus-fastapi-instrumentator==6.0.0
prompt-toolkit==3.0.47
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pulp==2.8.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py7zr==0.20.8
pyarrow==14.0.2
pyasn1-modules==0.4.0
pyasn1==0.6.0
pybase64==1.3.2
pybboxes==0.1.6
pybcj==1.0.2
pycocotools==2.0.7
pycosat==0.6.6
pycparser==2.21
pycryptodomex==3.20.0
pydantic-core==2.18.2
pydantic==2.7.1
pydeck==0.9.0
pydot==2.0.0
pyerfa==2.0.1.4
pyftdi==0.55.0
pygame==2.3.0
pygeodesy==24.4.12
pygments==2.18.0
pymongo==4.6.1
pymunk==6.8.1
pynmeagps==1.0.33
pyopengl==3.1.7
pyparsing==3.1.2
pypdf==4.2.0
pyppmd==1.1.0
pyproj==3.6.1
pyserial==3.5
pysocks==1.7.1
pytest-asyncio==0.21.1
pytest-cov==2.5.1
pytest==8.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic==0.4.27
python-qt-binding==1.1.2
pytz==2024.1
pyusb==1.2.1
pyvo==1.5.2
pyyaml==6.0.1
pyzmq==25.0.2
pyzstd==0.15.9
qt-dotgraph==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
qt-gui==2.2.3
quality-of-service-demo-py==0.20.4
rarfile==4.1
rc==0.0.0
rcl-interfaces==1.2.1
rclpy==3.3.13
rcutils==5.1.6
redis==4.6.0
referencing==0.35.1
regex==2024.5.15
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests==2.31.0
resource-retriever==3.1.2
retrying==1.3.4
rich==13.5.2
rmw-dds-common==1.6.0
roboflow==1.1.32
rocker==0.2.13
ros2action==0.18.10
ros2bag==0.15.11
ros2cli==0.18.10
ros2component==0.18.10
ros2doctor==0.18.10
ros2interface==0.18.10
ros2launch==0.19.7
ros2lifecycle==0.18.10
ros2multicast==0.18.10
ros2node==0.18.10
ros2param==0.18.10
ros2pkg==0.18.10
ros2run==0.18.10
ros2service==0.18.10
ros2topic==0.18.10
rosbag2-interfaces==0.15.11
rosbag2-py==0.15.11
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.5
rosidl-cli==3.1.5
rosidl-cmake==3.1.5
rosidl-generator-c==3.1.5
rosidl-generator-cpp==3.1.5
rosidl-generator-py==0.14.4
rosidl-parser==3.1.5
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.1
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.5
rosidl-typesupport-introspection-cpp==3.1.5
rpds-py==0.18.1
rpi.gpio==0.7.1
rpyc==6.0.0
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag-plugins==1.1.5
rqt-bag==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui-py==1.1.7
rqt-gui==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.7.2
ruamel.yaml.clib==0.2.7
ruamel.yaml==0.18.5
s3transfer==0.10.1
safetensors==0.4.3
sahi==0.11.15
sailboat-gym==1.2.0
sailbot-msgs==0.0.0
scikit-image==0.22.0
scikit-learn==1.4.0
scipy==1.13.1
seaborn==0.13.2
secretstorage==3.3.3
semver==3.0.2
sensor-msgs-py==4.2.4
sensor-msgs==4.2.4
sentry-sdk==2.5.1
setproctitle==1.3.3
setuptools==68.2.2
sgmllib3k==1.0.0
shape-msgs==4.2.4
shapely==2.0.1
shellingham==1.5.4
shimmy==1.3.0
simulation==0.0.0
six==1.16.0
skypilot==0.5.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.7.4
sparkfun-ublox-gps==1.1.5
spidev==3.6
sros2==0.10.5
srsly==2.4.8
sse-starlette==0.10.3
sseclient-py==1.8.0
stable-baselines3==2.2.1
stack-data==0.6.3
starlette==0.36.3
statistics-msgs==1.2.1
std-msgs==4.2.4
std-srvs==4.2.4
stereo-msgs==4.2.4
strawberry-graphql==0.138.1
streamlit==1.34.0
structlog==24.2.0
supersuit==3.9.2
supervision==0.21.0
swig==4.1.1.post1
sympy==1.12
tabulate==0.9.0
taskgroup==0.0.0a4
teleop-twist-keyboard==2.4.0
tenacity==8.3.0
tensorboard-data-server==0.7.2
tensorboard==2.17.0
tensordict==0.4.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.35.0
tensorstore==0.1.52
termcolor==1.1.0
terminaltables==3.1.10
tex2py==0.0.5
texsoup==0.1.4
texttable==1.7.0
tf2-geometry-msgs==0.25.7
tf2-kdl==0.25.7
tf2-msgs==0.25.7
tf2-py==0.25.7
tf2-ros-py==0.25.7
tf2-tools==0.25.7
thinc==8.2.3
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.12.9
time-machine==2.14.1
tinyscaler==1.2.7
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
topic-monitor==0.20.4
torch==2.3.1
torchtext==0.18.0
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
trajectory-msgs==4.2.4
transformers==4.41.2
triton==2.3.1
truststore==0.8.0
turfpy==0.0.7
turtlesim==1.4.2
typer==0.9.0
typing-extensions==4.11.0
typing-inspect==0.9.0
tzdata==2024.1
tzlocal==5.2
ultralytics-thop==2.0.0
ultralytics==8.2.35
unique-identifier-msgs==2.2.1
universal-analytics-python3==1.1.1
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.19
utm==0.7.0
uvicorn==0.27.0.post1
uvloop==0.19.0
virtualenv==20.26.2
visualization-msgs==4.2.4
voluptuous==0.14.1
vrx-gazebo==1.3.0
wandb==0.13.11
wasabi==1.1.2
watchdog==4.0.0
watchfiles==0.21.0
wcwidth==0.2.13
weasel==0.3.4
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
werkzeug==3.0.3
wheel==0.42.0
widgetsnbextension==4.0.9
wind-sensor==0.0.0
wrapt==1.16.0
wsproto==1.2.0
xacro==2.0.8
xmltodict==0.13.0
yarl==1.9.4
zipp==3.17.0
zstandard==0.22.0
zxing-cpp==2.2.0